<nav class="navbar navbar-inverse nav-main-menu">
  <div class="container-fluid">
    <!-- <div class="navbar-header">
      <h6>Servicio de Grastroenterología</h6>
      <!-- <div class="image-container" >        
        <a href="http://www.clinicadelsol.com.ar/">
        <img src="assets/logo.png" class="icon-banner">  
      </a>            
    </div>       
    </div>     -->
    <div class="nav-main-menu">
      <ul class="nav navbar-nav">
          <li><a routerLink="/">Servicio de Grastroenterología </a></li>        
        <li *ngIf="(this.oidcSecurityService.getIsAuthorized() | async) === true" >          
          <a routerLink="/patients"><span class="fa fa-users"></span>Pacientes</a>
        </li>
        <li *ngIf="(this.oidcSecurityService.getIsAuthorized() | async) === true" >          
            <a [routerLink]="['/', 'patients', 'new']"><span class="fa fa-user-plus"></span>Nuevo Paciente</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">      
          <li *ngIf="(this.oidcSecurityService.getIsAuthorized() | async) === false">
            <a (click)="login()" role="button"><span class="fa fa-sign-in"></span> Iniciar sesión</a></li>
          <li *ngIf="(this.oidcSecurityService.getIsAuthorized() | async) === true" role="button" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <span class="fa fa-user-md" ></span>{{(this.oidcSecurityService.getUserData() | async).name}}
              <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a (click)="logout()"><span class="fa fa-sign-out" ></span> Cerrar Sesión</a></li>                
              </ul>
          </li>
      </ul>
    </div>
  </div>
</nav>
