<div *ngIf="loading">
    <img src="assets/loading.gif" class="img-responsive center-block loadgin-image">
  </div>
  <div *ngIf="error">
    <div class="alert alert-danger">
      <strong>Error!</strong> Error tratando de obtener pacientes
      <strong>Detalles:</strong> {{error}}
    </div>
</div>
<div *ngIf="!loading && !error" class="comment-tabs">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active">
      <a role="tab" href="#personal-information"(click)="setActiveTab('personal-information')" data-toggle="tab">
        <h4 class="reviews text-capitalize">
          <span class="fa fa-address-book"></span>Datos Filiatorios</h4>
      </a>
    </li>
    <li>
      <a href="#history" role="tab" data-toggle="tab" (click)="setActiveTab('history')">
        <h4 class="reviews text-capitalize">
          <span class="fa fa-heartbeat"></span>Antecedentes</h4>
      </a>
    </li>
    <li>
      <a href="#consultations" role="tab" data-toggle="tab" (click)="setActiveTab('consultations')">
        <h4 class="reviews text-capitalize">
          <span class="fa fa-stethoscope"></span>Consultas</h4>
      </a>
    </li>
    <li>
      <a href="#complementary-methods" role="tab" data-toggle="tab" (click)="setActiveTab('complementary-methods')">
        <h4 class="reviews text-capitalize">
          <span class="fa fa-plus-square"></span>Metodos Complementarios</h4>
      </a>
    </li>
  </ul>
  <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
    <div class="tab-content">
      <div class="tab-pane active" id="personal-information">
        <div class="form-horizontal">
          <div class="form-group col-lg-6 col-md-6">
            <label for="name" class="col-sm-3 control-label">Nombre</label>
            <div class="col-sm-9">
              <input formControlName="name" type="text" class="form-control" name="name" id="name" placeholder="Nombre del paciente">
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="lastName" class="col-sm-3 control-label">Apellido</label>
            <div class="col-sm-9">
              <input formControlName="lastName" type="text" class="form-control" name="lastName" id="lastName" placeholder="Apellido del paciente">
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="identificationNumber" class="col-sm-3 control-label">DNI</label>
            <div class="col-sm-6">
              <input formControlName="identificationNumber" type="text" class="form-control" name="identificationNumber" id="identificationNumber" placeholder="Nro. Documento">
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="birthDate" class="col-sm-3 control-label">Fecha Nacimiento</label>
            <div class="col-sm-5">
              <input formControlName="birthDate" type="date" class="form-control" name="birthDate" id="birthDate" placeholder="04/02/2001">              
            </div>
            <div *ngIf="patientForm.get('birthDate').value" class="col-sm-4">
                <label class="control-label">
                  Edad: {{patientForm.get('birthDate').value | age}}
              </label>
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="consultationReason" class="col-sm-3 control-label">Consulta</label>
            <div class="col-sm-9">
              <input formControlName="consultationReason" type="text" class="form-control" name="consultationReason" id="consultationReason"
                placeholder="Motivo de la consulta">
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="socialSecurityId" class="col-sm-3 control-label">Obra Social</label>
            <div class="col-sm-6">
              <ngx-select [items]="socialSecurities" optionValueField="id"  optionTextField="name"
                formControlName="socialSecurityId">
              </ngx-select>
            </div>
            <button class="col-sm-4" type="button" class="btn btn-info" (click)="onAddSocialSecurityClick()" >Agregar Nueva</button>                      
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="diagnosticId" class="col-sm-3 control-label">Diagnóstico </label>
            <div class="col-sm-6">
                <ngx-select [items]="diagnostics" optionValueField="id"  optionTextField="name"
                  formControlName="diagnosticId">
                </ngx-select>
            </div>
            <button class="col-sm-4" type="button" class="btn btn-info" (click)="onAddDiagnosticClick()" >Agregar Nuevo</button>                      
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="origin" class="col-sm-3 control-label">Procedencia</label>
            <div class="col-sm-9">
              <input formControlName="origin" type="text" class="form-control" name="origin" id="origin" placeholder="Procedencia">
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-6">
            <label for="contactPhones" class="col-sm-3 control-label">Teléfonos</label>
            <div class="col-sm-9">
              <input formControlName="contactPhones" type="text" class="form-control" name="contactPhones" id="contactPhones" placeholder="0343-154877675, 4567465">
            </div>
          </div>
          <div class="form-group col-lg-6 col-md-9">
            <label for="email" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9">
              <input formControlName="email" type="email" class="form-control" name="email" id="email" placeholder="ejemplo@mail.com">
            </div>
          </div>
          <div class="form-group"></div>
        </div>
      </div>
      <div class="tab-pane" id="history">
        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
              <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#prerinatologicalBackgroundTab" aria-expanded="true"
                aria-controls="prerinatologicalBackgroundTab">
                <span class="fa fa-arrow-circle-down"></span> Antecedentes Perinatologícos
              </a>
            </div>
            <div id="prerinatologicalBackgroundTab" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <textarea formControlName="prerinatologicalBackground" class="form-control" name="prerinatologicalBackground" id="prerinatologicalBackground"
                  rows="7">
                </textarea>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
              <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#epidemiologicalBackgroundTab" aria-expanded="true"
                aria-controls="epidemiologicalBackgroundTab">
                <span class="fa fa-arrow-circle-down"></span> Antecedentes Epidemiológicos
              </a>
            </div>
            <div id="epidemiologicalBackgroundTab" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <textarea formControlName="epidemiologicalBackground" class="form-control" name="epidemiologicalBackground" id="epidemiologicalBackground"
                  rows="7">
                </textarea>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
              <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#physiologicalBackgroundTab" aria-expanded="true"
                aria-controls="physiologicalBackgroundTab">
                <span class="fa fa-arrow-circle-down"></span> Antecedentes Fisiológicos
              </a>
            </div>
            <div id="physiologicalBackgroundTab" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <textarea formControlName="physiologicalBackground" class="form-control" name="physiologicalBackground" id="physiologicalBackground"
                  rows="7">
                </textarea>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
              <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#pathologicalBackgroundTab" aria-expanded="true"
                aria-controls="pathologicalBackgroundTab">
                <span class="fa fa-arrow-circle-down"></span> Antecedentes Patológicos
              </a>
            </div>
            <div id="pathologicalBackgroundTab" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <textarea formControlName="pathologicalBackground" class="form-control" name="pathologicalBackground" id="pathologicalBackground"
                  rows="7">
                </textarea>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading" role="tab" id="headingOne">
              <a class="btn btn-info" data-toggle="collapse" data-parent="#accordion" href="#familyBackgroundTab" aria-expanded="true"
                aria-controls="familyBackgroundTab">
                <span class="fa fa-arrow-circle-down"></span> Antecedentes Heredofamiliares
              </a>
            </div>
            <div id="familyBackgroundTab" class="collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                <textarea formControlName="familyBackground" class="form-control" name="familyBackground" id="familyBackground" rows="7">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="consultations">
        <div>
          <button class="btn btn-info" (click)="showNewConsultation=!showNewConsultation" type="button">Nueva Consulta</button>
          <div *ngIf="showNewConsultation" class="panel panel-info">
            <div class="panel-body">
                <app-consultation formControlName="consultation" [disabled]="true" ></app-consultation>                
            </div>
          </div>
        </div>
        <br/>
        <div *ngIf="consultations && consultations.length" class="panel panel-info">
          <div class="panel-heading">
            <h4>Historial de Consultas</h4>
          </div>
          <div class="panel-body">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div  *ngFor="let c of consultations" class="panel panel-default">
                <div class="panel-heading" role="tab" [id]="c.id">
                  <a data-toggle="collapse" data-parent="#accordion" [href]="'#collapse-' + c.id" 
                    aria-expanded="true" aria-controls="collapseOne">
                    Fecha: {{c.date | amParse:'DD-MM-YYYY HH:mm' | amDateFormat:'LL'}}, Atendido Por: Dra: {{c.physician}}
                  </a>
                </div>
                <div [id]="'collapse-' + c.id" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="panel-body">
                      <app-consultation-history [consultation]="c" ></app-consultation-history> 
                  </div>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane" id="complementary-methods">
        <app-complements [patientId]="patientId" *ngIf="patientId" ></app-complements>
      </div>
      <div *ngIf="activeTab !== 'complementary-methods'" >
          <button  class="btn btn-success" [disabled]="!patientForm.valid" type="submit">Guardar</button>
          <button class="btn btn-danger" [disabled]="!patientForm.touched" (click)="onCancelClick()" type="button">Cancelar</button>
      </div>
    </div>
  </form>
</div>
<app-dialog [closable]="false"  [(visible)]="showDialog">
  <div class="alert alert-warning">
      <strong>Atención!</strong> Hay cambios sin guardar, seguro que desea salir?.
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" (click)="showDialog = !showDialog">Cancelar</button>
      <button class="btn btn-danger" (click)="onConfirmCancelClick()">Salir</button>
  </div>
</app-dialog>
<app-dialog [closable]="false"  [(visible)]="showSocialSecutiryDialog">
  <div class="alert alert-info">
      <label><strong>Crear nueva obra social</strong></label>
        <div class>
          <input class="form-control" #socialSecurity name="newSocialSecurity" placeholder="Nombre de la obra social">
        </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" (click)="showSocialSecutiryDialog = !showSocialSecutiryDialog">Cancelar</button>
      <button class="btn btn-success" (click)="onSaveNewSocialSecurityClick(socialSecurity.value)">Guardar</button>
  </div>
</app-dialog>
<app-dialog [closable]="false"  [(visible)]="showDiagnosticDialog">
  <div class="alert alert-info">
      <label><strong>Crear nuevo diagnóstico</strong></label>
        <div class>
          <input class="form-control" #newDiagnostic name="newDiagnostic" placeholder="Nombre de diagnóstico">
        </div>
  </div>
  <div class="modal-footer">
      <button class="btn btn-default" (click)="showDiagnosticDialog = !showDiagnosticDialog">Cancelar</button>
      <button class="btn btn-success" (click)="onSaveNewDiagnosticClick(newDiagnostic.value)">Guardar</button>
  </div>
</app-dialog>

